.container {
    width: 95%; 
}

#newTopicInput {

}

#newTopicInput label {
    
}



div.gifContainer  img {
    border: 2px solid black; 
}

div.gifContainer img:hover {
    border: 2px solid red; 
}

.rating {
    text-transform: uppercase;
}

.rating span {
    margin-left: 5px; 
}